Flask==0.12.2
Flask-SQLAlchemy==2.3.2
Jinja2==2.10
jsonschema==2.5.1
python-dateutil==2.6.1
requests==2.18.4
requests-file==1.4.2
Routes==2.2
simplejson==3.8.1
SQLAlchemy==1.2.15
urllib3==1.22
gunicorn==19.9.0
